{% extends 'index.html' %} {% load static %} {% block homecon %}

<!-- Banner  -->
<section id="conbanner">
  <div class="container">
    <h1 class="text-white">Contacts</h1>
    <!-- <button class="text-uppercase" onclick="Shopnow()">Shop Now</button> -->
  </div>
</section>

<section class="container text-center">
  <h1 class="text-center py-4">Contacts Us</h1>
  <p class="text-center">We are looking forward to hearing from you.</p>
  <div class="container border row row-cols-2">
    <div class="border col-md-6 p-3">
      <h3 class="text-warning">ADDRESS</h3>
      <p>
        SF.No 90, East Garden,<br />
        Sollipalayam,<br />
        Titupur – 641652.<br />
      </p>
    </div>

    <div class="border col-md-6 p-3">
      <h3 class="text-warning">OPENING HOURS</h3>
      <p>
        Mon to Fri: 10am – 6pm<br />
        Saturday: 8am – 6pm<br />
        Sunday: Holiday<br />
      </p>
    </div>

    <div class="border col-md-6 p-3">
      <h3 class="text-warning">EMAIL</h3>
      <p>Ethowear@biz.com</p>
    </div>

    <div class="border col-md-6 p-3">
      <h3 class="text-warning">WHATSAPP</h3>
      <p>91000 00000</p>
    </div>
  </div>
</section>

{% endblock %}
