{% extends 'index.html' %}
{% load static %}


{% block homecon %}

<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.0/css/all.min.css"
    integrity="sha512-xh6O/CkQoPOWDdYTDqeRdPCVd1SpvCA9XXcUnZS2FmJNp1coAFzvtCN9BmamE+4aHK8yyUHUSCcJHgXloTyT2A=="
    crossorigin="anonymous" referrerpolicy="no-referrer" />
<link rel="stylesheet"
    href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@48,700,0,0" />
<link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">

<link rel="stylesheet" href="https://unicons.iconscout.com/release/v4.0.0/css/line.css">
<link href="{% static 'register.css' %}" rel="stylesheet" />
<!-- <link href="{% static 'login.css' %}" rel="stylesheet" /> -->



<div class="forms">
    <link href="{% static 'register.css' %}" rel="stylesheet" />

    <!-- Registration Form -->
    <div class="form signup">
        <span class="title">Registration</span>

        <form action="/register/" method="post" name="Registration">
            {% csrf_token %}
            
            {% if error %}
            <div class="alert alert-danger" role="alert">
              <p class="m-1">{{error}}</p>
            </div>
            {% endif %}

            <div class="input-field">
                <label for="">First Name</label>
                <input type="text" name="firstname" placeholder="Enter your first name" value="{{values.first_name}}" required>
                <i class="uil uil-user"></i>
            </div>

            <div class="input-field">
                <label for="">Last Name</label>
                <input type="text" name="lastname" placeholder="Enter your last name" value="{{values.last_name}}" required>
                <i class="uil uil-user"></i>
            </div>

            <div class="input-field">
                <label for="">Phone</label>
                <input type="number" name="phone" placeholder="Phone Number"  value="{{values.phone}}" required>
                <i class="uil uil-envelope icon"></i>
            </div>

            <div class="input-field">
                <label for="">Email</label>
                <input type="email" name="email" placeholder="Enter your email" value="{{values.email}}" required>
                <i class="uil uil-envelope icon"></i>
            </div>

            <div class="input-field">
                <label for="">Password</label>
                <input type="password" class="password" placeholder="Create a password" id="txtPassword" name="password" value="{{values.password}}" required>
                <i class="uil uil-lock icon"></i>
            </div>
        
            <div class="checkbox-text">
                <div class="checkbox-content">
                    <input type="checkbox" id="termCon">
                    <label for="termCon" class="text">I accepted all terms and conditions</label>
                </div>
            </div>

            <div class="input-field button">
                <input type="submit" value="Signup" onclick="Validate()" id="mybtn">
            </div>
        </form>

        <div class="login-signup">
            <span class="text">Already a member?
                <a href="/login" class="text login-link">Login Now</a>
            </span>
        </div>
    </div>
</div>


<script src="{% static 'login.js' %}">
    const container = document.querySelector(".container"),
        pwShowHide = document.querySelectorAll(".showHidePw"),
        pwFields = document.querySelectorAll(".password");


    //   js code to show/hide password and change icon
    pwShowHide.forEach(eyeIcon => {
        eyeIcon.addEventListener("click", () => {
            pwFields.forEach(pwField => {
                if (pwField.type === "password") {
                    pwField.type = "text";

                    pwShowHide.forEach(icon => {
                        icon.classList.replace("uil-eye-slash", "uil-eye");
                    })
                } else {
                    pwField.type = "password";

                    pwShowHide.forEach(icon => {
                        icon.classList.replace("uil-eye", "uil-eye-slash");
                    })
                }
            })
        })
    })


    function Validate() {
        var password = document.getElementById("txtPassword").value;
        var confirmPassword = document.getElementById("txtConfirmPassword").value;
        if (password != confirmPassword) {
            alert("Passwords do not match.");
            document.getElementById("mybtn").disabled = true;
            return false;
        }
        return true;
    }
</script>

{% endblock %}